
.jumbotron-fluid {
    background-color: rgb(117, 59, 59);
    color: white;
    height: 250px;
    margin: 60px;
    line-height: 150px;
    border-radius: 20px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}

.container {
    text-align: center;
    justify-content: center;
}

.display-4 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.list-group {
    margin: 60px;
   
}

.form-group {
    margin: 60px;
    
}

#submitButton {
    margin: 60px;
    
}